body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: #000;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Visuelt';
  src: local('Visuelt'), url(./fonts/Visuelt_Bold.ttf);
}

html {
  font-family: 'Space Mono', monospace;
}

button, Link {
  font-family: 'Visuelt' !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 8px;
}

a {
  color: #BC0066;
}

a:hover {
  color: red;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
